.sideScrollList {
	width: auto;
	background-color: rgba(255, 255, 255, 0);
	padding: 20px;
}

.enter {
  opacity: 0.01;
  transition: opacity 1.5s ease-in;
}
.enter.enterActive {
  opacity: 1;
}
.leave {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
.leave.leaveActive {
  opacity: 0.01;
}
.appear {
  opacity: 0.01;
}
.appear.appearActive {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}